__pycache__
.idea
.ipynb_checkpoints

.venv
venv

terraform/.terraform
terraform/.terraform.lock.hcl

docker/portainer/data

docker/airflow/config
docker/airflow/dags
docker/airflow/logs
docker/airflow/plugins
docker/airflow/airflow.cfg
docker/airflow/airflow-webserver.pid
docker/airflow/webserver_config.py