__pycache__
.idea
.ipynb_checkpoints

.venv
venv

*.tfstate
*.tfstate.backup

docker-compose/terraform/.terraform
docker-compose/terraform/.terraform.lock.hcl

docker-compose/docker/portainer/data

docker-compose/docker/iot-platform/data/*
docker-compose/docker/iot-platform/config/passwd

docker-compose/docker/airflow/config
docker-compose/docker/airflow/dags
docker-compose/docker/airflow/logs
docker-compose/docker/airflow/plugins
docker-compose/docker/airflow/airflow.cfg
docker-compose/docker/airflow/airflow-webserver.pid
docker-compose/docker/airflow/webserver_config.py