psycopg2==2.9.11
colorlog==6.9.0
PyYAML==6.0.3
paho-mqtt==2.1.0
# mmh3==5.2.1
confluent-kafka==2.14.0
kafka-python-ng==2.2.3
python-dotenv==1.2.2
certifi==2026.4.22
httpx==0.28.
authlib==1.7.0
cachetools==7.1.0
attrs==26.1.0
fastavro==1.12.2
python-logstash==0.4.8